@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}


.landing-page-height{
  min-height: calc(100vh - 72px);
}

.waves {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}
.somiindex {
  position: relative;

}

.bg-hero{
  /* background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
  /* background-image: url('../../public/images/2268.jpg'); */
  background-image: url('../../public/images/cae12b2b-dd7b-49c3-b5d1-2b9289c54d71.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.dash-bg{
  background-image: url(../../public/images/cms-dash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.blur-effect{
  width: 350px;
  height: 350px;
  background-color: pink;
  position: absolute;
  left: -20px;
  top: 0px;
  filter: blur(200px);
}
.image-card:hover .image-opener{
  bottom:0;
}